<b2a-table>
    <b2a-table-header>
        <b2a-table-cell width="150px">DEVELOPER</b2a-table-cell>
        <b2a-table-cell width="120px">EPIC</b2a-table-cell>
        <b2a-table-cell>STATUS</b2a-table-cell>
        <b2a-table-cell-expand></b2a-table-cell-expand>
    </b2a-table-header>
    <!-- BODY -->
    <b2a-table-row
        *ngFor="let row of [1, 2]"
        [style.--b2a-table__row-border-radius]="'5px'"
        [style.--b2a-table__row-background-color]="'#eeeeee'"
        [style.--b2a-table__row-margin]="'0 0 10px'"
    >
        <b2a-table-cell width="150px">John Doe</b2a-table-cell>
        <b2a-table-cell width="120px">B2A-1111</b2a-table-cell>
        <b2a-table-cell>IN PROGRESS</b2a-table-cell>
        <b2a-table-cell-expand>
            <span class="material-icons">keyboard_arrow_down</span>
        </b2a-table-cell-expand>
        <!-- NESTED table -->
        <b2a-table>
            <b2a-table-header>
                <b2a-table-cell width="130px">TASK</b2a-table-cell>
                <b2a-table-cell width="120px">FEATURE</b2a-table-cell>
                <b2a-table-cell>STATUS</b2a-table-cell>
            </b2a-table-header>
            <b2a-table-row
                *ngFor="let row of [1, 2, 3, 4, 5]"
                [style.--b2a-table--nested__row--first-border]="
                    '1px solid gray'
                "
                [style.--b2a-table--nested__row-border]="
                    '1px solid transparent'
                "
                [style.--b2a-table--nested__row-border-radius]="'0px'"
            >
                <b2a-table-cell width="130px">Table</b2a-table-cell>
                <b2a-table-cell width="120px">B2A-1112</b2a-table-cell>
                <b2a-table-cell>REVIEW</b2a-table-cell>
            </b2a-table-row>
        </b2a-table>
    </b2a-table-row>
</b2a-table>
