@mixin table-cell-shared() {
    display: flex;
    box-sizing: border-box;
    min-height: 30px;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}
@mixin table-cell-expand-shared() {
    width: 30px;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
}
@mixin table-cell-group() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
}
